* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(97, 120, 93);
    color: aliceblue;
    margin: 0;
}

header {
    background-color: rgb(97, 120, 93);
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px skyblue;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: rgb(254, 252, 252);
    margin-top: 20px;
    margin-bottom: 20px;
}

nav .logo img {
    height: 40px;
    width: 40px;
    margin-bottom: 8px;
    border-radius: 100%;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav ul li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 5px;
    transition: baground-color 0.3s ease;
    margin-top: 30px;
    font-weight: bold;
}

nav li a:hover {
   background-color: rgb(128, 121, 122);
}

nav ul li a.active {
    background-color: bisque;
    color: white;
    font-weight: bold;
}

.hero {
    position: relative;
    background-image: url(gambar\ panda);
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(223, 21, 21);
    width: 90%;
}

.hero-text h1 {
    font-size: 3rem;
    color: white;
    font-family: Arial;
    font-optical-sizing: auto;
    font-weight: weight;
}

.hero-text p {
    color: aliceblue;
    font-size: 1.2rem;
    font-family: arial;
    font-optical-sizing: auto;
    font-weight: weight;
}

.hero-btn {
    background-color: rgba(97, 82, 82, 0.438);
}

.hero-button {
    display: inline-block;
    background: transparent;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.hero-text .hero-button:hover {
    background-color: rgb(173, 230, 221);
    border: 1px solid rgb(199, 230, 173);
    transition: 0.3s ease;
}


/* About section*/
.about {
    padding: 5rem;
    background-color: rgb(97, 120, 93);
}

.about-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.20px;
}

.section-title {
    color: rgb(243, 238, 238);
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;

}

.section-title h2 {
    font-size: 15px;
    font-weight: bold; 
    color: rgb(244, 241, 241);
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.about-content {
    display: flex;
    grid-template-columns: 2fr repeat(1,2fr);
    gap: 2;
    padding: 2rem;
}

.about-left, .about-right {
    text-align: justify;
    padding: 20px;
}

.about-left h3, .about-right h3 {
    color: azure;
    margin-bottom: 15px;
    font-size: 24px;
}

.about-left p, .about-right p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.about-left ul li {
    color: rgb(246, 247, 246);
    margin-right: 10px;
    font-size: 14px;
}

.about-button {
    display: inline-block;
    background: transparent;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.about-button:hover {
    background-color: rgb(173, 230, 221);
    border: 1px solid rgb(199, 230, 173);
    transition: 0.3s ease;
}

.logo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: rgb(97, 120, 93);
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.01);
}

.logos {
    max-width: 2000px;
    max-height: 150px;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.logos:hover:hover {
    filter: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
}

.card {
    background-color: rgb(97, 120, 93);
    border: 1px solid dd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(224, 244, 220);
    margin: 13px;
    padding: 23px;
    width: 42%;
    box-sizing: border-box; 
    align-items: center;
    display: flex;
}

.card img {
    width: 20px;
    border-radius: 100%;
    height: 20px;
}

.card-text {
    padding: 1rem;
}

.card h3 {
    margin: 0;
    font-size: 18px;
    color: rgb(249, 253, 249);
    
} 

.card p {
    margin: 5px;
    color: aliceblue;
}

.card img {
    height: 40px;
    width: 40px;
    margin-bottom: 8px;
    border-radius: 100%;
}

/* bagian portofolio */
.filter-btn {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    background-color: rgb(137, 155, 128);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-btn.active,
.filter-btn:hover {
    background-color:#274129;
    color: rgb(240, 240, 240);
}

.filter-btn.active {
    background-color: rgb(99, 146, 79);
    color: white;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.item {
    position: relative;
    width: 100%;
    padding-top: 100%;
}

.item img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.01);
    transition: transform 0.3s ease;
   

}

.item img:hover {
    transform: scale(1.05);
}

.secondary-nav1 {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

/* footer */
.footer {
    max-width: auto;
    padding: 1rem;
    text-align: center;
    background-color: rgb(13, 61, 7);
    color: white;
    margin: auto;
}

.foot-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: auto;
    margin: auto;
    background-color:  rgb(13, 61, 7);
}

.foot-page {
    padding: 1rem 1rem;
    text-align: justify;
    font-size: 16px;
}

.foot-btn {
    background-color: beige;
}

.foot-button {
    display: inline-block;
    background: #95dc95;
    text-decoration: none;
    padding: 1px 3px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.foot-text .foot-button {
    border: 1px solid lightblue;
    transition: 0.3s ease;
}